table,th,td,tr{
	border :1px solid black;
	text-align: center;
	font-style: Italic;
	font-size: 50px;
	margin-top: 20px;
}
h1{
		color:white;
		text-align: center;
		font-style: Italic;
		background-color: blue;
}
button{
		color: white;
		text-align : center;
		background-color: blue;
		font-style: Italic;
		font-size: 30px;
		margin-top: 53px;
}
body{
	background-color:pink;
}
.center{
	margin-left:180px;
}
